
@font-face {
  font-family: IRANYekanWebLight;
  src: url(./font/IRANYekanWebLight.ttf);
}
@font-face {
  font-family: IRANYekanWebBold;
  src: url(./font/IRANYekanWebBold.ttf);
}
@font-face {
  font-family: IRANYekanWebExtraBlack;
  src: url(./font/IRANYekanWebExtraBlack.ttf);
}
@font-face {
  font-family: IRANYekanWebExtraBold;
  src: url(./font/IRANYekanWebExtraBold.ttf);
}
@font-face {
  font-family: IRANYekanWebMedium;
  src: url(./font/IRANYekanWebMedium.ttf);
}
@font-face {
  font-family: IRANYekanWebRegular;
  src: url(./font/IRANYekanWebRegular.ttf);
}
body{
  margin: 0;
  padding: 0;
  direction: rtl;
  font-size: 14px !important;
  font-family: IRANYekanWebRegular !important ;

}
a{
    text-decoration: none !important;
    color: #333 !important;
  }
  p{
    margin-bottom: 0px !important;
  }
:root{
    --black: hsl(0deg 0% 14.51%);
    --orange:hsl(37.82deg 98.35% 52.55%);
    --border:hsl(0, 0%, 81%);

  }
.bg-orange{
  background-color: var(--orange);
}
.font-gray{
  color: hsl(0deg 0% 78.43%);
}
.container-fluid  .row:not(.header-back){
    max-width: 1676px;
    margin: 0 auto !important;
  }
  .main-row{
    max-width: 1150px !important;
    margin: 0 auto !important;

  }
.advertise{
   background-image: url(./images/advertise.png);
   background-size: cover;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
}

.advertise {
  position: relative;
  overflow: hidden;
}
.ad-text{
  font-size: 1.5em;
 font-family: IRANYekanWebExtraBold;
animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { opacity: 1; transform: scale(1); }
  50% { opacity: 0.6; transform: scale(1.3); }
  100% { opacity: 1; transform: scale(1); }
}
 
.word {
  display: inline-block;
  /* margin-left: 5px;  */
  animation: dropIn 0.5s ease-in-out ;
}
.code {
  color: #e74c3c; 
  font-weight: bold;
}

header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 20000;
}
.res-search{

}
/* Header transition styles */
.header-back {
  transition: transform 0.3s ease, height 0.3s ease;
  position: relative;
  z-index: 1000;
}

.header-back.lg-header-up {
  z-index: 10001;
}

.header-down {
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
  z-index: 999;
}

.header-down.header-hidden {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}

.res-search {
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
  z-index: 998;
}

.res-search.header-hidden {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}

.header-container {
  transition: height 0.3s ease;
}
.header-down{
    background-color: var(--black);
    margin: 0px !important;
    position: relative;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  transition: z-index 0.3s ease-in-out;



  }
  /* .header-down.header-hidden {
    transform: translateY(-100%);
    transition: transform .3s ease;
    z-index: -1;
  
  } */
/*header-down moviing up header-top fix*/

.header-top{
  background-color: #fff;
}

.header-back{
background-color: #fff;
z-index: 1;
box-shadow: 0px 2px 15px 2px #3e3e3e;
}

.header-back.lg-header-up{
  z-index: 10001;
}


.bar-menu{
  display: none;
}

.res-search{
  display: none;
}



.user-basket{
    display: flex;
    justify-content: end;
}

.user-btn, .cart-header{
  cursor: pointer;
}
.basket-txt, .user-txt{
  display: flex;
  flex-direction: column;
}
.search-input input{
    border: none;
    outline: none;
    background-color: hsl(0deg 0% 93.73%);
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    padding-right: 40px;
}
.search-input img{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.user-img, .basket-img{
  width: 45px;
  height: 45px;
  padding: 8px;
}
.user-img img, .basket-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

 
  .navs{
    display: flex;
   
    position: relative;
  }
  .nav-item{
    padding:10px;
  }
  .navs .nav-item:not(:last-child){
    margin-left: 10px;
  }
  .nav-item a{
    color: #fff !important;
  }
  .nav-item.active{
    background-color: #fff;
  }
  .nav-item.active a{
    color: #333;
  }
  .about-menu{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--black);
    width: 150%;
    z-index: 10010;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }
  .air:hover .about-menu{
    max-height: 200px;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  
  
  .about-sub-menu-item {
    box-shadow: 0px 0px 3px 0px #fff;
    border-radius: 8px;
    font-size: 0.9em;
    transform: translateY(-10px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    color: #fff;
    cursor: pointer;
  }
  
  
  .air:hover .about-sub-menu-item {
    transform: translateY(0);
    opacity: 1;
  }
  
  .air:hover .about-sub-menu-item:nth-child(2) { transition-delay: 0.1s; }
  .air:hover .about-sub-menu-item:nth-child(3) { transition-delay: 0.1s; }
  .air:hover .about-sub-menu-item:nth-child(4) { transition-delay: 0.1s; }
  
  
  .about-sub-menu-item:hover {
    background-color: #fff;
    color: var(--orange);
    transition: background-color 0.2s;
  }
  


  .pro-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 300px;
    display: none;
    z-index: 10001;
    background-color: #fff;
    box-shadow: 0px 0px 2px #e4e4e4;
  }
  .pro-menu.active{
    /* opacity: 1;
    visibility: visible; */
    display: flex;
  }
  .pro-tabs {
    width: 20%;
    background-color: #f5f5f5;
    height: 300px;
    max-height: 300px;
    overflow-y: auto;
  }
  .p-tab {
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid var(--orange); */
    cursor: pointer;
  }
  .p-tab.active {
    background-color: #fff;
  }
  .p-tab.active span {
    color: var(--orange) !important;
  }

  .p-tab > div{
    display: flex;
    /* align-items: flex-end; */
  }
  .p-tab span {
    /* color: var(--orange); */
    align-self: flex-end;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 5px;
  }
  .p-tab i,  .p-tab-earth i {
    font-size: 0.6em;
  }
  .pro-contents {
    width: 80%;
    background-color: #fff;
    height: 300px;
    max-height: 300px;
    overflow-y: auto;
  }
  .p-content {
    padding: 15px;
    display: none;
  }
  .p-content.active {
    display: block;
  }
  .p-content a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #333;
  }
  .p-content a:hover span {
    color: var(--orange);
  }
  .p-content a span{
    font-size: 1em;
    font-weight: bold;
  }
  .p-content a i {
    font-size: 0.7em;
    font-weight: bold;
    margin-right: 5px;
  }
  .sub-menus {
    padding: 10px 0px;
    font-size: 0.9em;
  }
  .sub-menu {
    padding: 10px;
    /* border-right: 2px solid var(--orange); */
  }
  .sub-menu > a {
    font-size: 1em;
    font-weight: bold;
    padding: 5px 0px;
    border-bottom: 2px solid var(--orange);
  }
  .sub-menu-items {
    padding: 10px 0px;
  }
  .s-b-item a:hover {
    font-weight: bold;
    color: var(--orange);
  }

/*--------------------------user-cart------------------*/
.user-menu {
  background: #f8f8ff;
  border-radius: 12px;
  width: 280px;
  box-shadow: 0px 0px 2px #d6d6da;
  /* padding: 15px 0; */
  position:absolute;
  top: 100%;
  left: 0px;
  width: 300px;
  z-index: 1001;
  font-family: IRANYekanWebRegular;
  margin-top: 1px;
  visibility:hidden;
  opacity: 0;
  transform: translateY(0px);
  transition: transform .5s;
}
.user-menu.active{
  visibility:visible;
  opacity: 1;
  transform: translateY(-1px);
  transition: transform .5s;
}
.user{
  position: relative;
}
.user-header {
  display: flex;
  align-items: center;
  padding: 15px 20px 15px;
  border-bottom: 1px solid var(--border-color);
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background:var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: 10px;

}

.user-info {
  flex: 1;

}

.user-name {
  color: var(--main-color);
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 3px;
 
}

.user-subtitle {
  color: var(--gray-color);
  font-size: 1em;
}

.user-menu .menu-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-left: 0px;

}
.user-menu .menu-item:last-child{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}

.menu-item:hover {
  background: var(--orange);
  color: var(--main-color);
}
.menu-item:hover  span,.menu-item:hover i{
  color: #fff;
}

.menu-item i {
  margin-left: 12px;
  font-size: 18px;
  width: 24px;
  text-align: center;
}

.menu-item span {
  font-size: 1em;
}

.wallet-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  margin: 10px 0;
}

.wallet-info {
  display: flex;
  align-items: center;
}

.wallet-amount {
  color: #333;
  font-size: 1em;
  font-weight: 500;
}

.wallet-icon {
  margin-left: 12px;
  color: var(--main-color);
  font-size: 18px;
}

.logout {
  color: #dc3545;
}

.logout:hover {
  color: #dc3545;
  opacity: 0.9;
}

.cart-menu-container {
  width: 400px;
  background-color: #f8f8ff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: absolute;
  top: 100%;
  left: -0px;
  z-index: 1001;
  font-family: IRANYekanWebRegular;
  visibility: hidden;
  opacity: 0;
  margin-top: 1px;
  transform: translateY(0px);
  transition: transform .5s;
}
.cart-menu{
  padding: 16px;
}
.cart-menu-container.active{
  visibility: visible;
  opacity: 1;
  transform: translateY(-1px);
  transition: transform .5s;

}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgb(207, 153, 35);
  padding: 10px;
  border-radius: 10px;
  font-size: .8em;
  font-family: IRANYekanWebBold;
}
.products-cart-container{
  max-height: 250px;
  overflow-y: auto;
}


.back-button {
  display: flex;
  align-items: center;
  margin-right: auto;
  color: #333;
}
.back-button i{
  margin-right: 5px;
}

.cart-title {
  font-size: 14px;
}

.new-badge {
  color: #868686;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
}

.product-card {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
}

.product-header {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 16px;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.product-info h3 {
 font-size: 1em;
  margin-bottom: 8px;
  color: #333;
}

.product-features {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.feature {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #666;
  font-size: 12px;
}

.product-card .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.amount {
  font-size: .9em;
  font-weight: bold;
  color: #333;
}

.controls {
  display: flex;
  align-items: center;
  gap: 16px;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 12px;

}
.quantity span{
  margin: 0px 5px;
}
.quantity button {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
}
.quantity button:first-child:hover{
  background: var(--red);
  color: #fff;
}

.delete-btn {
  color: var(--red) !important;
  background: none;
  border: none;
  cursor: pointer;
}

.checkout-button {
 border-top: 1px solid rgb(204, 204, 204);
  color: white;
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content:center;

}

.total-price {
  background: var(--orange);
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  width: 95%;
  padding: 12px;
  border-radius: 10px;
}

  /*-------------------main--------------*/
  .fix-chat{
    position: fixed;
    bottom: 10px;
    right: 50px;
    z-index: 1000;
  }
  .chat-box{
    position: fixed;
    bottom: 90px;
    right: 70px;
    z-index: 1005;
    width: 350px;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: all .3s;
    transform-origin: bottom right;
    box-shadow:0px 0px 5px  hsl(0, 1%, 73%);
  
  }
  .chat-box.active{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: all .5s;
    transform-origin: bottom right;
  
  }
  .chat-box i{
    cursor: pointer;
  }
  .chat-header{
    background-color: var(--orange);
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-family: IRANYekanWebBold;
  }
  .chat-text{
  height: 300px;
  background-color:  hsl(0deg 0% 94.9%);
  height: 350px;
  }
  .box-quiz{
    width: 90%;
    margin-right: 5%;
    background-color: #fff;
    padding: 10px;
  }
  .box-quiz span{
    padding: 15px 0px;
  }
  
  .box-quiz .quiz{
    padding: 10px;
    margin-top: 5px;
    background: var(--orange);
    color: #fff;
    border-radius: 10px;
    transform: translateX(0px);
    transition: transform .3s;
    cursor: pointer;
    font-size: .9em;
  }
  .box-quiz .quiz:hover{
    transform: translateX(-2px);
    transition: transform .3s;
  }
  
  
  .off-canvas {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 70%;
    background-color: hsl(60, 2%, 84%);
    z-index: 20001;
    transform: translateX(100%);
    transition: transform 0.5s;
  }
  .off-canvas a{
    color: #333;
  }
  .overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #3333335d;
    z-index: 20001;
    display: none;
  }
  .overlay-main{
    position: fixed;
    top: 140px;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #3333335d;
    z-index: 10002;
    display: none;
  }
  .overlay-main.active{
    display: block;
  }
  
  
  .overlay.active{
    display: block;
  }
  
  .off-canvas.active {
    transform: translateX(0);
  }
  .submenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(60, 2%, 84%);
    z-index: 20002;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }
  
  .submenu.active {
    transform: translateX(0);
  }
  
  .submenu-header {
    padding: 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
  }
  
  .back-btn {
    background: none;
    border: none;
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .back-btn i {
    margin-left: 5px;
  }
  
  .submenu-items {
    padding: 10px 0;
  }
  
  .submenu-item {
    padding: 10px 15px;
  }
  
  .submenu-item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .submenu-item:not(.has-submenu) a i {
    display: none;
  }
  .level-2 {
    z-index: 20003;
  }
  .e-n-imgs img{
  cursor: pointer;
  }

main{
  /* padding: 0px 80px; */
}

  /*-------------------hero-swiper--------------*/
  #my-swiper .swiper-slide{
    position: relative;
    width: 1500px;
  }
  #my-swiper .swiper-slide img{
    width: 100%;
    height: 100%;
    }
  
  #my-swiper .slide-txt{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    align-items: start;
    z-index: 1;
  }
  #my-swiper .slide-txt strong{
    font-size: 1.5em;
    font-family: IRANYekanWebExtraBold;
  }
  #my-swiper .slide-txt span{
    margin-top: 10px;
    font-size: 1.3em ;
    font-family: IRANYekanWebBold;
  }
  #my-swiper .slide-txt .more{
    font-size: 1em;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 25px;
  }

  .hero-swiper{
    overflow:hidden;
}

.swiper-container{
    position:relative;
}
.swiper-pagination{
    position:absolute;
    margin:0px;
    right:10px !important;
    
}
 .swiper-pagination-bullet{
     margin:0px 2px !important;
     background-color: #fff;
     
 }
 .swiper-pagination-bullet-active{
  position: relative;
  background: var(--orange) !important;
  width: 20px !important;
  height: 8px !important;
  border-radius: 35% !important;
}
 .swiper-pagination-bullet-active:before{
position: absolute;
content: "";
top:0;
width:0;
right: 0;
height: 100%;
animation: coloringBack 5.5s;
}


.swiper{
      padding: 0px !important;
      cursor: pointer;
  }
 
 .swiper-wrapper{
  position: relative;
  padding: 0px !important;
  /* padding-bottom:200px !important; */
 }
 .nav-btns{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 2%;
  right: 18%;
  z-index: 1000;
}
.nav-btns >div{
  width: 35px;
  height: 35px;
  background-color: #fff;
  margin:0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.nav-right:hover{
  transform: translateX(2px);
}
.nav-right:hover i{
  font-size: large;
}
.nav-left:hover{
  transform: translateX(-2px);
}
.nav-left:hover i{
  font-size: large;
}
/*---------------------products-------------------*/

.product-sec .pro-img{
  border:3px solid hsl(40.79deg 99.02% 59.8%);
  border-radius: 50%;
  padding: 2px;
  width: 110px;
  height: 110px;
  position: relative;
}
.product-sec .pro-img img{
  border-radius: 50%;
  width: 100%;
  height: 100% ;
  object-fit: cover;
}
.product-sec .pro-img::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -1px;
  width: 111px;
  height: 111px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top: 5px solid hsl(40.79deg 99.02% 59.8%);
  border-right: 5px solid hsl(40.79deg 99.02% 59.8%);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.product-sec .pro-img:hover::before {
  opacity: 1;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*---------------------sale-------------------*/
.sale-sec{
  padding-right: 24px !important;
  padding-left: 24px !important;
}
.sale {
  background-color: var(--orange);
  direction: rtl;
  width: 100%;
  padding-right: 200px;
  position: relative;
  box-sizing: border-box; 
  border-radius: 10px;
  padding-left: 0px !important;
  padding-bottom: 20px;
}

.timer-sec {
  position: absolute;
  right: 0px; 
  height: 290px;
  width: 200px; 
  padding: 5px;
}
.timer-sec strong{
  font-size: 2.1em;
  font-family: IRANYekanWebExtraBold;
}
.timer-sec span{
  font-weight: bold;
  font-family: IRANYekanWebBold;;
}
.timer-sec i{
  font-size: 10px;
}
.timer-sec .sale-img{
width: 190px;
height:190px;
}
.sale-img img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.timer{
  text-align: center;
}
#hours , #seconds, #minutes{
  font-weight: bold;
  background-color: #fff;
  padding: 5px 8px;
  border-radius: 50%;
}
.sale-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-owl-container {
  width: calc(100% - 190px);
  max-width: 100%;
  margin-left: 0; 
  margin-right: auto; 
  direction: rtl; 
}
/* 
#sale-owl-one {
  width: 100%; 
} */

.product-box{
  border: 1px solid var(--border);
  border-radius: 8px;
  background-color: #fff;
  margin:8px 4px;
  transform: translateY(0px);
  transition: .3s;
  
}
.product-box:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px #7e7d7d62;
  transition: .3s;
}
.most-sale .product-box a{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:10px 5px;
  color: #333;
}
.sale .product-box a{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding:10px 5px;
  color: #333;
}
.sale .product-box a h3{
  padding-right: 10px;
}

.product-img{
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 25px 10px; */
  height: 165px;
}
.product-box .product-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-box h3{
  font-size: .9em;
  margin-top: 15px;
  font-family: IRANYekanWebRegular;
}
.product-box a span{
  /* background-color: var(--orange);
  padding: 3px 15px;
  color: #fff;
  border-radius: 50px;
  margin-top: 10px; */
}
.price-off{
  font-family: IRANYekanWebBold;
}
.off-price{
  color: gray;
}
.off{
  direction: ltr !important;
}
.off , .price{
  border-radius: 25px;
}
.product-owl-container .nav-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  border: 1px solid var(--border);
  cursor: pointer;

}
.product-owl-container #one-right{
  right: 20px;
}
.product-owl-container #one-left{
  left: 20px;
}



/*-------------------my-swiper-2--------------------*/
#my-swiper-2 .swiper-slide{
  position: relative;
  width: 900px;
}
#my-swiper-2 .swiper-slide img{
  width: 100%;
  }

#my-swiper-2 .slide-txt-2{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12%;
  align-items: start;
  z-index: 1;
}

#my-swiper-2 .slide-txt-2 span{
  margin-top: 10px;
  font-size: 1.7em ;
  font-family: IRANYekanWebBold;
  color:#fff
}
#my-swiper-2 a{
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 25px;
}
#my-swiper-2 a span{
  color: #333 !important;
  font-size: 0.9em !important;



}


/*-------------------most-sale--------------------*/

.product-title{
  font-size: 1.2em;
  font-family: IRANYekanWebBold;
}
.most-sale-item{
  border: 1px solid rgb(189, 185, 185);
}
.product-owl-container{
  position: relative;
}
.product-owl-container .nav-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  border: 1px solid var(--border);
  cursor: pointer;

}
.product-owl-container #two-right, #three-right, #four-right{
  right: 20px;
}
.product-owl-container #two-left, #three-left, #four-left{
  left: 20px;
}

/*-------------------category-sale--------------------*/
.lesur-text{
  font-size: 1.1em;
  margin-top: 20px;
  font-family: IRANYekanWebBold;
}
.circle-category{
  display: flex;
  justify-content: space-between;
}
.category-item{
 
}
#owl-category {
display: none !important;
}
.pro-img-border{
  border: 3px solid var(--orange);
  border-radius: 50%;
}

.category-sec .pro-img {
  border-radius: 50%;
  padding: 10px;
  border: 5px solid black;
  width: 130px;
  height: 130px;
  background-color: hsl(0deg 0% 100%);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.category-sec .pro-img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.category-sec .pro-img:hover img {
  transform: scale(1.1);
}
.pro-card{
  position: relative;
  padding: 10px;
}

 .cook {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.4s ease;
}


.category-sec .pro-img:hover ~ .lesur-text .cook,
.category-sec .pro-img:hover ~ .cook {
  animation: floatCook 0.6s ease infinite alternate;
}


@keyframes floatCook {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}


.category-sec .pro-img:hover img {
  transform: scale(1.1);
}

.baner {
  position: relative;
  padding: 10px 60px;
  overflow: hidden;
  transition: transform 0.4s ease;
}

.baner:hover {
  transform: scale(1.01);
}


.baner .baner-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  transition: filter 0.4s ease, transform 0.4s ease;
}

.baner:hover .baner-back {
  filter: brightness(1.2);
  transform: scale(1.05);
}

.baner-text strong{
  font-weight: bold;
  font-size: 1.5em;
  font-family: IRANYekanWebExtraBold;
}
.baner-text >span{
  font-family: IRANYekanWebBold;
  margin: 5px 0px;
  font-size: 1.1em;
  color: #fff;
}
.baner-img img {
  transition: transform 0.4s ease;
}

.baner:hover .baner-img img {
  transform: translateY(-5px) rotate(-1deg);
}


.baner-text a {
  background-color: black;
  border-radius: 25px;
  padding: 5px 10px;
  max-width: max-content;
  color: #fff !important;
  font-size: .9em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 2px 0px;
}

.baner:hover .baner-text a {
  background-color: hsl(40.79deg 99.02% 59.8%);
  color: #000;
  transform: scale(1.05);
}

.baner:hover .baner-text a i,
.baner:hover .baner-text a span {
  color: #000;
}


#my-swiper-3 .swiper-slide{
  position: relative;
  width: 900px;
}
#my-swiper-3 .swiper-slide img{
  width: 100%;
 
  }

#my-swiper-3 .slide-txt-2{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12%;
  align-items: start;
  z-index: 1;
}

#my-swiper-3 .slide-txt-2 span{
  margin-top: 10px;
  font-size: 1.7em ;
  font-family: IRANYekanWebBold;
  color:#fff
}
#my-swiper-3 a{
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 25px;
}
#my-swiper-3 a span{
  color: #333 !important;
  font-size: 0.9em !important;
}


/*-------------------pro-baner--------------------*/
.pro-baner{
  position: relative;
  padding: 70px 10px;
  transition: transform 0.4s ease;
}
.ban-back{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: transform 0.5s ease, filter 0.5s ease;

}
.pro-baner:hover .ban-back {
  transform: scale(1.08);
  filter: brightness(1.05) saturate(1.2);
}

.pro-ban-text{
  position: absolute;
  right: 30px;
  top: 40%;
  transform: translateY(-60%);
  color: #fff;
  font-family: IRANYekanWebBold;
  transition: opacity 0.4s ease, transform 0.4s ease;

}
.pro-baner:hover .pro-ban-text {
  opacity: 1;
  transform: translateY(-70%);
}

.pro-ban-img{
  position: absolute;
 bottom: 60px;
  left: 30px;
  transition: transform 0.4s ease;
  /* height: 100px; */
  /* width: 120px; */
}
.pro-baner:hover .pro-ban-img {
  transform: translateY(-5px) scale(1.1) rotate(-2deg);
}

.pro-ban-img img{
  /* width: 100%;
  height: 100%;
  object-fit: contain; */
}


/*------------------brands---------------------------------------------*/
.brand-items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto); 
  gap: 10px; 
  padding: 10px;
}
.brand-title{
  font-size: 1.2em;
  font-family: IRANYekanWebBold;
}
.brand-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid rgb(179, 177, 177);
  border-radius: 8px;
  height: 90px;
  background-color: #fff;
  transition: box-shadow 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
}

.brand-box:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
  border-color: #ffae00; 
}

.brand-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.brand-box:hover img {
  transform: scale(1.05);
}


/*---------------------------footer--------------*/
.footer-brand-social{
  background-color: hsl(0deg 0% 14.51%);

}
.footer-p-one {
  background-color: hsl(0deg 0% 14.51%);
  border-bottom: 1px solid var(--orange);
}
.footer-list-container {
  /* flex: 1; */
  justify-content: space-between;
  padding: 20px;
}
.footer-tab > span {
  color: hsl(0deg 0% 79.61%);
  font-family: IRANYekanWebBold;

}
.footer-tab  i {
  color: var(--orange);
  display: none;
}

.footer-list-content.active{
  display: block;
}
.footer-list-content{
  margin-top: 10px;
}
.footer-list-content >div{
  margin-top: 5px;
}
.footer-list-content a {
  color: hsl(0, 0%, 57%) !important;
  font-size: .9em;
}
.footer-list-content a:hover {
  color: var(--orange);
  text-decoration: underline !important;
}

.footer-last > div span {
  color: hsl(0deg 0% 35.69%);
}
.loc{
  margin-top: 5px;
}
.loc-tel {
  margin-top: 10px;
  color:hsl(0deg 0% 79.61%);
}
.loc-tel img{
  width: 15px;
  height: 12px;
}
.loc-tel > span {
  color:hsl(0deg 0% 79.61%);
  font-family: IRANYekanWebBold;

}
.tel-phone{
  /* font-family: IRANYekanWebMedium; */
}
footer hr{
  width: 1px;
  background-color:hsl(0deg 0% 79.61%) ;
  margin: 3px !important;
}
.footer-last{
padding-top: 20px;
justify-content: end;
}
.footer-last img{
 cursor: pointer;
}
.footer-rights-sec {
  background-color: hsl(0deg 0% 12.94%);
  align-items: center;
  color: hsl(0, 0%, 57%);
  font-size: 0.9em;
}
.footer-rights {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}
.footer-last .row {
  margin: 0 auto;
  max-width: 1676px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.company {
  color: var(--orange) !important;
}
.nonegar{
  font-weight: bold;
}
.eng-company {
  text-align: left !important;
  direction: ltr !important;
}
.brand-social{
  width: 100%;
}
.social-section{
  display: flex;
  /* justify-content:space-between; */
  align-items: center;
  color: hsl(0deg 0% 89.02%);
  font-family: IRANYekanWebBold;
  font-size: 1.1em;

 }
.socials{
  width: 100%;
}
 .social-icon {
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  filter: grayscale(100%);
  padding: 10px;
 
}

.social-icon img {
  width: 30px; 
  transition: transform 0.3s ease;
}


.social-icon:hover {
  filter: grayscale(0%);
  transform: translateY(-5px);
}


.social-icon:hover::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 3px;
  border-radius: 2px;
}


.social-icon:nth-child(1):hover::after { 
  background-color: #229ED9;
  box-shadow: 0 0 10px #229ED9;
}

.social-icon:nth-child(2):hover::after {
  background-color: #0077B5;
  box-shadow: 0 0 10px #0077B5;
}

.social-icon:nth-child(3):hover::after {
  background-color: #ED145B;
  box-shadow: 0 0 10px #ED145B;
}

.social-icon:nth-child(4):hover::after { 
  background-color: #25D366;
  box-shadow: 0 0 10px #25D366;
}

.social-icon:nth-child(5):hover::after { 
  background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
  box-shadow: 0 0 10px #E1306C;
}

.social-icon:hover img {
  transform: rotate(360deg) scale(1.2);
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.social-icon:hover {
  animation: pulse 1s infinite;
}

.footer-last-part {
  font-size: 1.2em;
  font-family: IRANYekanWebBold;
  line-height: 40px;

}
.footer-more{
 float: left;
}
.gray-text{
  color: rgb(182, 180, 180);
}